<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">

                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>M拍是一个用来展示各种街拍图片的app，上面有各种美女、靓仔，同时提供各种穿着搭配</h1>
                        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4054888479,978673711&fm=26&gp=0.jpg" width="200px" height="200px" class="img-responsive"></img>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/img/home.png" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
